
html {
    background-color: black;
}

body {
    font-family: 'Coustard', sans-serif;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: white;
    font-family: 'coustard', sans-serif;
    font-size: 20px;
    opacity: .5;
    position: inherit;

}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.header {
    background-color: rgba(0, 0, 0, .5);
    color: mediumpurple;
}

.header-txt, h3 {
    font-family: 'Codystar', sans-serif;
}

.home-logo {
    max-width: 200px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.big-banner {
    background-image: url("images/backgroudimage.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.full-width {
    padding-left: 0;
    padding-right: 0;
}

/*form styles*/
#msform {
    width: 400px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: teal;
    border: 0 none;
    border-radius: 25px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid mediumpurple;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'coustard', sans-serif;
    color: mediumpurple;
    font-size: 13px;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: mediumaquamarine;
    margin-bottom: 20px;
}


.bg-color {
    background-color: black;
}

.footer {
    background-color: black;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;

    text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    color: #3B5998;
}

/* Twitter */
.fa-twitter {
    color: #55ACEE;
}
/* Youtube */
.fa-youtube {
    color: red;
}
/* Instagram */
.fa-instagram {
    color: lightsalmon;
}
.footer-links {
    color: white;
    font-size: 75%;
    font-family: 'Coustard', sans-serif;
}

.footer-links:hover {
    opacity: 0.7;
    text-decoration: none;

    font-size: 50px;
    font-family: 'coustard', sans-serif;
}
